@font-face {
  font-family: 'lifecraftregular';
  src: url("../fonts/lifecraft_font-webfont.woff") format("woff"), url("../fonts/lifecraft_font-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative; }

html,
body {
  height: 100%; }

@-webkit-keyframes shadow {
  0% {
    text-shadow: 4px 4px 4px #ff00007e; }
  50% {
    text-shadow: 4px 4px 4px #ff0000; }
  100% {
    text-shadow: 4px 4px 4px #ff00007e; } }

@keyframes shadow {
  0% {
    text-shadow: 4px 4px 4px #ff00007e; }
  50% {
    text-shadow: 4px 4px 4px #ff0000; }
  100% {
    text-shadow: 4px 4px 4px #ff00007e; } }

body {
  position: relative;
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #000), to(#143269));
  background: linear-gradient(to bottom, #000 1%, #143269 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#143269', GradientType=0); }
  body:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: url("../images/body-background.png");
    background-repeat: no-repeat;
    background-position: center; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%; }

header {
  width: inherit;
  text-align: center;
  padding: 2% 0 3%; }
  header img {
    max-width: 370px;
    width: 100%; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 0 auto; }

.exhortation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit; }

.title {
  width: 45%;
  font-family: 'lifecraftregular';
  letter-spacing: .5px;
  color: #fff336;
  text-align: center;
  font-size: 5vw; }
  .title-wrapper {
    background-color: black;
    background-image: url("../images/giphy-downsized.gif");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 13%;
    padding: 2% 10%;
    -webkit-box-shadow: inset 0 0 7px 5px #FFF336;
            box-shadow: inset 0 0 7px 5px #FFF336; }
    .title-wrapper:after, .title-wrapper:before {
      display: block;
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      width: 129%;
      height: 39%;
      background-image: url(../images/fire.png);
      background-position: center;
      background-size: contain;
      background-repeat: repeat; }
    .title-wrapper:before {
      top: -38%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .title-wrapper:after {
      bottom: -38%;
      -webkit-transform: translateX(-50%) rotate(180deg);
              transform: translateX(-50%) rotate(180deg); }
    .title-wrapper p {
      -webkit-animation: shadow 1s linear infinite;
              animation: shadow 1s linear infinite; }

.sideImg {
  width: 38%;
  z-index: 1; }
  .sideImg img {
    width: 100%; }
  .sideImg.left {
    margin-left: 6%;
    margin-right: -11%; }
  .sideImg.right {
    margin-left: -12%;
    margin-right: 6%;
    margin-top: -1%; }
    .sideImg.right img {
      width: 91%; }

.link {
  background-color: #000;
  background-image: url("../images/fire-bg.png");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0 0 7px 5px #fff336;
          box-shadow: 0 0 7px 5px #fff336;
  text-shadow: 4px 4px 4px #ff0000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5vw;
  color: #fff336;
  text-transform: uppercase;
  width: 20%;
  display: block;
  left: 50%;
  margin: 3% 0;
  padding: 12px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#143269', GradientType=0);
  opacity: 0.8;
  padding: 1% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer div {
    width: calc(100% /3);
    text-align: center; }
  footer .rights {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.3); }
  footer .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    footer .info img {
      max-width: 65px;
      width: 100%;
      margin: 0 5px; }
  footer .blizzard img {
    width: 35%; }

@media screen and (max-width: 815px) {
  main {
    padding-bottom: 20%;
    margin: 10% auto; }
  .title {
    width: 100%;
    font-size: 14vw; }
    .title-wrapper:after, .title-wrapper:before {
      width: 100%; }
  .sideImg {
    display: none; }
  .link {
    font-size: 4.5vw;
    margin: 5% 0;
    width: 35%; }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2% 0; }
    footer div {
      width: 100%; }
    footer .rights {
      padding: 20px; }
    footer .blizzard,
    footer .info {
      width: 50%; }
    footer .blizzard img {
      width: 50%; }
    footer .info img {
      width: 20%; } }

/*# sourceMappingURL=main.css.map */
