@font-face {
    font-family: 'daysregular';
    src: url('fx5z8rip-webfont.woff2') format('woff2'),
         url('fx5z8rip-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}