@import url(../fonts/stylesheet.css);
#main .social .soc-icon-0, #main .social .soc-icon-1, #main .social .soc-icon-2, #main .social .soc-icon-3, form fieldset .email, form fieldset .button-container .button {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

#main .tape-container .text, form fieldset .button-container .button {
  text-shadow: 0 0 6px #000;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
  background: #000;
  background: -moz-linear-gradient(top, #000 1%, #143269 100%);
  background: -webkit-linear-gradient(top, #000 1%, #143269 100%);
  background: linear-gradient(to bottom, #000 1%, #143269 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#143269',GradientType=0 );
}

body .body-container {
  background-image: url(../images/body-background.png);
  background-position: top center;
  background-size: 85%;
  background-repeat: no-repeat;
}

header {
  text-align: center;
}

header .wrapper {
  position: relative;
}

header .logo-container {
  position: relative;
  height: 228px;
}

header .logo-container .logo {
  background-image: url(../images/logo.png);
  width: 308px;
  height: 228px;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -160px;
  top: 30px;
  z-index: 2;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 105px;
  background-color: #252525;
  opacity: 0.8;
}

footer .icon-container {
  text-align: center;
}

footer .icon-container .icon-0, footer .icon-container .icon-1, footer .icon-container .icon-2, footer .icon-container .icon-3, footer .icon-container .icon-4, footer .icon-container .icon-5 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  opacity: 0.5;
}

footer .icon-container .icon-0 {
  background-image: url(../images/foot-icon-0.png);
}

footer .icon-container .icon-1 {
  background-image: url(../images/foot-icon-1.png);
}

footer .icon-container .icon-2 {
  background-image: url(../images/foot-icon-2.png);
}

footer .icon-container .icon-3 {
  background-image: url(../images/foot-icon-3.png);
}

footer .icon-container .icon-4 {
  background-image: url(../images/foot-icon-4.png);
}

footer .icon-container .icon-5 {
  background-image: url(../images/foot-icon-5.png);
}

footer .icon-container .icon-0 {
  width: 168px;
  height: 58px;
}

footer .icon-container .icon-1 {
  width: 55px;
  height: 55px;
}

footer .icon-container .icon-2 {
  width: 60px;
  height: 55px;
}

footer .icon-container .icon-3 {
  width: 111px;
  height: 86px;
}

footer .icon-container .icon-4 {
  width: 154px;
  height: 17px;
}

footer .icon-container .icon-5 {
  width: 83px;
  height: 108px;
}

footer .icon-container .icon-5.woman {
  margin-top: -4px;
  opacity: 1;
  margin-left: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

#main {
  padding-bottom: 105px;
  position: relative;
  z-index: 1;
}

#main .tape-container {
  position: relative;
  text-align: center;
  height: 233px;
}

#main .tape-container .woman-1 {
  background-image: url(../images/woman-1.png);
  width: 231px;
  height: 608px;
  display: inline-block;
  position: absolute;
  left: 50px;
  top: -155px;
}

#main .tape-container .woman-2 {
  background-image: url(../images/woman-2.png);
  width: 252px;
  height: 610px;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: -155px;
}

#main .tape-container .tape {
  background-image: url(../images/tape.png);
  width: 1270px;
  height: 233px;
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: 50%;
  margin-left: -635px;
}

#main .tape-container .caption {
  background-image: url(../images/center-caption.png);
  width: 478px;
  height: 120px;
  display: inline-block;
  margin-top: 20px;
}

#main .tape-container .line {
  background-image: url(../images/line.png);
  width: 533px;
  height: 5px;
  display: inline-block;
}

#main .tape-container .text {
  color: #fefffe;
  font-size: 15px;
  font-family: 'daysregular', 'arial', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

#main .social {
  text-align: center;
}

#main .social .topic {
  color: #fefffe;
  font-size: 11px;
  font-family: 'Arial';
  text-align: center;
  padding: 10px 0 0 0;
}

#main .social a {
  text-decoration: none;
}

#main .social .social-block {
  padding: 10px 0 0 0;
}

#main .social .social-block a:hover {
  opacity: 0.6;
}

#main .social .soc-icon-0, #main .social .soc-icon-1, #main .social .soc-icon-2, #main .social .soc-icon-3 {
  background-image: url(../images/soc-icons.png);
  display: inline-block;
  height: 27px;
  margin: 0 10px;
}

#main .social .soc-icon-0 {
  width: 14px;
}

#main .social .soc-icon-1 {
  width: 36px;
  background-position: -34px;
}

#main .social .soc-icon-2 {
  width: 17px;
  background-position: -88px;
}

#main .social .soc-icon-3 {
  width: 24px;
  background-position: -131px;
}

#main .social .text {
  color: #ffffff;
  font-size: 9px;
  font-weight: bold;
  font-family: 'Arial';
  padding: 15px 0 5px 0;
}

.js-mail-visible {
  border: 3px solid #fe0000 !important;
}

form fieldset {
  border: 0;
  padding: 0;
  margin: -5px 0 0 0;
  position: relative;
  text-align: center;
}

form fieldset .email {
  width: 390px;
  height: 40px;
  line-height: 2.7;
  color: #777;
  font-size: 15px;
  text-align: center;
  font-family: 'Arial';
  font-weight: bold;
  border: 3px solid #57af08;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  background-image: url(../images/mail-background.png);
  -webkit-box-shadow: inset 1px 1px 10px 0 #000000;
  box-shadow: inset 1px 1px 10px 0 #000000;
}

form fieldset .email:focus {
  outline: none;
}

form fieldset .button-container {
  position: relative;
  display: inline-block;
}

form fieldset .button-container .button {
  text-transform: uppercase;
  color: #fefffe;
  font-size: 26px;
  font-weight: bold;
  padding: 12px 87.3px;
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
  border: 0;
  background-image: url(../images/button-pattern.png);
  font-family: 'daysregular', 'arial', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

form fieldset .button-container .button:focus {
  outline: none;
}

form fieldset .button-container .button:hover {
  background-image: url(../images/button-pattern-hover.png);
}

form fieldset .button-container .blick {
  background-image: url(../images/blick.png);
  width: 98px;
  height: 32px;
  position: absolute;
  top: 4px;
  left: -14px;
}

form fieldset .email-error {
  color: #FE0000;
  font-size: 16px;
  position: absolute;
  top: 48px;
  left: 27%;
  width: 46%;
  text-align: center;
}

form fieldset .line-min {
  background-image: url(../images/line-min.png);
  width: 381px;
  height: 4px;
  margin: 15px auto 0;
}

@-moz-document url-prefix() {
  form fieldset .button-container .button {
    padding: 11px 85px;
  }
}

@media screen and (max-width: 1300px) {
  body .body-container {
    background-size: 100%;
  }
  header .logo-container {
    height: 200px;
  }
  header .logo-container .logo {
    top: 45px;
    background-size: 100%;
    width: 260px;
    height: 195px;
    margin-left: -130px;
  }
  #main .tape-container {
    height: 200px;
    padding: 20px 0 0 0;
  }
  #main .tape-container .tape {
    background-size: 100%;
    width: 990px;
    height: 180px;
    display: inline-block;
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -495px;
  }
  #main .tape-container .caption {
    background-size: 100%;
    display: block;
    margin: 5px auto 0;
    width: 430px;
    height: 107px;
  }
  header .netent {
    right: 0;
  }
}
