@media (min-width: 1000px) and (max-width: 1279px) {
    .logo, .name {
        float: left;
    }

    .logo {
        width: 20%;
        text-align: right;
    }

    .logo-img {
        width: 94%;
    }

    .name {
        width: 80%;
        text-align: center;
    }

    .name-header {
        font-size: 7vw;
        padding-top: 13px;
    }

    .coins {
        text-align: center;
        margin-right: 0;
        height: auto;
    }

    .coins label {
        width: 32%;
    }

    .coins-img {
        width: 100%;
        margin-right: -4%;
        position: relative;
    }

    .coins-img-1hover {
        z-index: 4;
        left: 7%;
        top: 7.3%;
        width: 89%;
    }

    .coins-img-2hover {
        z-index: 4;
        left: 2%;
        width: 100%;
    }

    .coins-img-3hover {
        z-index: 4;
        left: 2%;
        width: 100%;
    }

    .register {
        margin-top: 25px;
    }

    .input-error-text {
        margin: 5px;
    }

    #footer {
        height: 80px;
    }

    .support-img {
        width: 6%;
    }

    .img1 {
        display: none;
    }
    .coins label {
        position: relative;
    }

    .coins-label-2 {
        margin-left: 0;
    }

    .coins-label-3 {
        margin-left: 0;
    }

    .coins-label-1,
    .coins-label-2,
    .coins-label-3 {
        -webkit-transition: 0s linear;
        -moz-transition: 0s linear;
        -ms-transition: 0s linear;
        -o-transition: 0s linear;
        transition: 0s linear;
    }

    .coins-label-1:hover .coins-img-1hover,
    .coins-label-2:hover .coins-img-2hover,
    .coins-label-3:hover .coins-img-3hover {
        opacity: 1;
        -webkit-transition: .2s linear;
        -moz-transition: .2s linear;
        -ms-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
    }

    input[type=radio]:checked + label .coins-hover {
        opacity: 1;
        transform: scale(1.1);

    }

    input[type=radio]:checked + label .coins-img {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 999px) {
    .logo-img {
        width: 39.8%;
        margin: 14px 0 0 -7px;
    }

    .name-header {
        font-size: 8.5vw;
        padding-bottom: 34px;
    }

    .coins {
        text-align: center;
        margin-right: 0;
        height: auto;
    }

    .coins label {
        width: 31%;
    }

    .coins-img {
        width: 100%;
        margin-right: -4%;
        position: relative;
    }

    .coins-img-1hover {
        z-index: 4;
        left: 7%;
        top: 7.3%;
        width: 89%;
    }

    .coins-img-2hover {
        z-index: 4;
        left: 2%;
        width: 100%;
    }

    .coins-img-3hover {
        z-index: 4;
        left: 2%;
        width: 100%;
    }

    .coins-img-1 {
        z-index: 3;
    }

    .coins-img-2 {
        z-index: 2;
    }

    .register {
        text-align: center;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 200px;
        padding-left: 0;
    }

    .register-button, .register-mail, .register-social {
        float: none;
    }

    .register-social {
        margin-bottom: 30px;
    }

    .social-img {
        padding-right: 5.5%;
    }

    .register-mail {
        padding-left: 0px;
        text-align: center;
    }

    .register-button {
        padding: 0;
    }

    .button-input,
    .button-input:hover {
        width: 85.15625%;
        height: 92px;
        font-size: 8vw;
        text-shadow: 0px 0px 16px rgba(19, 71, 11, .8);
    }

    .mail-input {
        width: 79.25%;
        height: 72px;
    }

    .mail-input-error-text {
        width: 100%;
        position: relative;
        margin: 10px 0 3% 0;
    }

    .mail-input-error-text2 {
        width: 100%;
        position: relative;
        margin: -35px 0 3% 0;
    }

    #footer > .img2 {
        width: 16%;
    }

    #footer > span {
        font-size: 3vw;
        letter-spacing: 0;
    }

    .img1 {
        display: none;
    }
    .coins label {
        position: relative;
    }

    .coins-label-2 {
        margin-left: 0;
    }

    .coins-label-3 {
        margin-left: 0;
    }

    .coins-label-1,
    .coins-label-2,
    .coins-label-3 {
        -webkit-transition: 0s linear;
        -moz-transition: 0s linear;
        -ms-transition: 0s linear;
        -o-transition: 0s linear;
        transition: 0s linear;
    }

    .coins-label-1:hover .coins-img-1hover,
    .coins-label-2:hover .coins-img-2hover,
    .coins-label-3:hover .coins-img-3hover {
        opacity: 1;
        -webkit-transition: .2s linear;
        -moz-transition: .2s linear;
        -ms-transition: .2s linear;
        -o-transition: .2s linear;
        transition: .2s linear;
    }

    input[type=radio]:checked + label .coins-hover {
        opacity: 1;
        transform: scale(1.1);

    }

    input[type=radio]:checked + label .coins-img {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 767px) {

    .coins label {
        position: relative;
    }

    .coins-label-2 {
        margin-left: 0;
    }

    .coins-label-3 {
        margin-left: 0;
    }

    #footer {
        height: 80px;
    }

    #footer img {
        width: 10%;
        margin: 0 .5em;
    }

    #footer .support-img {
        margin-top: -.5em;
        width: 11%;

    }
}

