@font-face {
    font-family: 'days';
    src: url("../fonts/Days-webfont.eot");
    src: url("../fonts/Days-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Days-webfont.woff") format("woff"), url("../fonts/Days-webfont.ttf") format("truetype"), url("../fonts/Days-webfont.svg#pf_din_text_comp_promedium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@keyframes errorPulse {
    0% {
        box-shadow: 0 0 0 0 #ff0000;
        text-shadow: 0 0 0 #ff0000;
    }
    50% {
        box-shadow: 0 0 10px 3px #ff0000;
        text-shadow: 0 0 8px #ff0000;
    }
    100% {
        box-shadow: 0 0 0 0 #ff0000;
        text-shadow: 0 0 0 #ff0000;
    }
}

@keyframes checkPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(27, 95, 0, .4);
        text-shadow: 0 0 0 rgba(27, 95, 0, .4);
    }
    50% {
        box-shadow: 0 0 10px 3px rgba(27, 95, 0, .4);
        text-shadow: 0 0 8px rgba(27, 95, 0, .4);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(27, 95, 0, .4);
        text-shadow: 0 0 0 rgba(27, 95, 0, .4);
    }
}

@keyframes timeEnd {
    0% {
        text-shadow: 0 0 0 #ff0000;
    }
    50% {
        text-shadow: 0 0 8px #ff0000;
    }
    100% {
        text-shadow: 0 0 0 #ff0000;
    }
}

.timeEnd {
    animation: timeEnd 1s infinite;
}

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
h3,
p,
a,
img,
b,
i,
ul,
li,
form,
label,
table,
tbody,
tr,
td,
aside,
footer,
header,
nav,
section,
input,
button {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    background: #fff url("../img/road_bg.jpg") top center;
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

input,
button {
    outline: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 60px;
}

.head {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.head:after {
    display: table;
    content: '';
    clear: both;
}

.head-title,
.clock {
    float: left;
}

.head-title p,
.clock p {
    color: #ffffff;
    font-size: 47px;
    font-weight: bold;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
}

.clock {
    float: right;
    padding-right: 10px;
    opacity: 0;
}

.gallery {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    position: relative;
    background-image: url("../img/cars.jpeg");
    width: 150px;
    height: 150px;
    margin: 15px 13px;
    cursor: pointer;
}

.gallery-item:after {
    display: block;
    content: '';
    position: absolute;
    width: 156px;
    height: 156px;
    top: -3px;
    left: -3px;
    background-color: #ffffff;
    z-index: -2;
    border-radius: 5px;
    box-shadow: 5px 5px 20px -8px #000;
}

.item-3 {
    background-position: -150px 0;
}

.item-2 {
    background-position: -300px 0;
}

.item-4 {
    background-position: -450px 0;
}

.item-5 {
    background-position: -600px 0;
}

.item-6 {
    background-position: 0 -150px;
}

.item-12 {
    background-position: -150px -150px;
}

.item-8 {
    background-position: -300px -150px;
}

.item-9 {
    background-position: -450px -150px;
}

.item-10 {
    background-position: -600px -150px;
}

.item-11 {
    background-position: 0 -300px;
}

.item-7 {
    background-position: -150px -300px;
}

.item-13 {
    background-position: -300px -300px;
}

.item-14 {
    background-position: -450px -300px;
}

.item-15 {
    background-position: -600px -300px;
}

.wrong-choice {
    animation: errorPulse 1.5s 1;
    animation-delay: .2s;
}

.wrong-choice p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'days';
    font-size: 19px;
    text-transform: uppercase;
    color: #ff0000;
}

.wrong-choice:before {
    display: block;
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    top: -3px;
    left: -3px;
    background-color: rgba(0, 0, 0, 0.66);
    border: 3px solid #ff0000;
    border-radius: 5px;
}

.right-choice {
    pointer-events: none;
    animation: checkPulse 1.5s 1;
    animation-delay: .2s;
}

.right-choice:before {
    display: block;
    content: '';
    position: absolute;
    width: 156px;
    height: 156px;
    top: -3px;
    left: -3px;
    background: rgba(27, 95, 0, .7) url("../img/win-bg.png") no-repeat center;
    border-radius: 5px;
}

footer {
    position: absolute;
    background-image: url("../img/footer-bg.png");
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
}

.footer-wrapper {
    position: relative;
    top: 13px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.footer-wrapper>* {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-icons {
    background-image: url("../img/footer-icon.png");
    width: 240px;
    height: 42px;
}

.footer-logo {
    background-image: url("../img/footer-logo.png");
    width: 78px;
    height: 58px;
    margin: 0 140px;
}

.footer-247 {
    background-image: url("../img/footer-247.png");
    width: 167px;
    height: 39px;
}

#popup,
#popup-warning {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: rgba(47, 47, 47, 0.8);
    z-index: 2;
    color: #ffffff;
    display: none;
}

#popup-warning p {
    font-size: 22px;
    width: 100%;
    margin: 0 auto 40px;
    text-shadow: #0c48a7 2px 0 15px;
}

.popup-container,
.popup-container-2 {
    position: relative;
    width: 747px;
    height: 437px;
    margin: 0 auto;
    padding: 0 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background: url("../img/popup_bg_1-1.jpg") no-repeat center;
    box-shadow: 0 0 10px 2px rgb(90, 90, 90);
    border-radius: 10px;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-container-2 {
    background: url("../img/popup_bg_1-1.jpg") no-repeat top center;
    background-size: 100%;
    width: 725px;
    height: 200px;
    justify-content: center;
}

.popup-prize {
    position: relative;
    width: 45%;
    img {
        width: 100%;
    }
}

.mail-icon {
    position: absolute;
    left: 21px;
    z-index: 1;
    width: 41px;
}

.popup-title-2 {
    position: relative;
    top: 8%;
}

.popup-regform {
    width: 50%;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 18px 0;
    border-radius: 10px;
    border: 2px solid rgb(90, 90, 90);
}

.email-input {
    position: relative;
    display: block;
    width: 305px;
    height: 41px;
    border-radius: 3px;
    padding-left: 13%;
    font-size: 20px;
    outline: none;
    margin: 0 auto 40px;
    &-error {
      box-shadow: 0 0 8px 4px #ff0000;
      transition: box-shadow .2s;
    }
}

.popup-regform input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
}

.popup-regform input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
}

.popup-regform input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
}

.popup-regform input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
}

.email-button {
    display: block;
    margin: 0 auto 40px;
    width: 305px;
    height: 43px;
    font-size: 23px;
    text-transform: uppercase;
    font-family: days;
    color: #ffffff;
    outline: none;
    text-shadow: 0 0 9px #000;
    cursor: pointer;
    background: #99ff33;
    background: linear-gradient(to bottom, #99ff33 0%, #336600 100%);
}

.email-button:hover {
    background: #ccff33;
    background: linear-gradient(to bottom, #ccff33 0%, #339900 100%);
}

.popup-title {
    position: relative;
}

.popup-head,
.popup-title {
    padding-bottom: 35px;
    text-shadow: rgba(90, 90, 90, 1) 2px 0 15px;
}

.popup-head p,
.popup-title p {
    font-size: 20px;
    font-weight: bold;
}

.popup-title {
    padding: 0;
}

.social-icons,
.socials-list {
    position: relative;
    margin-top: 20px;
}

.socials-i {
    display: inline-block;
    background-color: #000;
    width: 49px;
    height: 49px;
}

.icon {
    cursor: pointer;
    width: 49px;
    height: 49px;
    background: url(../img/social-icon.png) no-repeat;
}

.icon-footer-fb {
    background-position: 16px 7px;
}

.icon-footer-vk {
    background-position: -46px 10px;
}

.icon-footer-ok {
    background-position: -104px 10px;
}

.icon-footer-mailru {
    background-position: -164px 10px;
}

.icon-footer-twitter {
    background-position: -223px 10px;
}

.popup-regform .regform-blick {
    position: absolute;
    top: -15px;
    right: 238px;
}

.email-error {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 305px;
    top: 148px;
    color: #ff0b00;
}

.email-error p {
    font-size: 12px;
}

.js-error-style {
    border: 4px solid #ff0000;
}

.js-opacity-show {
    opacity: 1;
    z-index: 2;
    -webkit-transition: 1s;
    transition: 1s;
}

.js-display-hide {
    display: none;
}

.js-display-show {
    display: block;
    opacity: 1;
    z-index: 2;
    -webkit-transition: 1s;
    transition: 1s;
}

.js-error-visible {
    visibility: visible;
}

@-moz-document url-prefix() {
    .mail-icon {
        top: 130px;
        width: 41px;
    }
}

@media all and (max-width: 767px) {
    .content {
        top: 0;
        transform: translate(0, 0);
    }
    footer {
        display: none;
    }
}