@font-face {
  font-family: 'sw-font';
  src: url("../fonts/sw.ttf") format("truetype"), url("../fonts/sw.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  position: relative;
  box-sizing: border-box; }
  *::after, *::before {
    content: '';
    display: block;
    clear: both; }

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sw-font;
  color: #fff; }

body {
  background-image: url("../images/starbg.jpg");
  background-repeat: repeat; }

.wrapper,
form,
.sides,
.register,
.social,
.input-wrapper {
  display: -ms-flexbox;
  display: flex; }

.wrapper,
form,
.input-wrapper,
.social {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.logo {
  font-size: 160px;
  color: #000;
  text-shadow: 2px 2px #ffe81f, -2px 2px #ffe81f, 2px -2px #ffe81f, -2px -2px #ffe81f, 2px 0 #ffe81f, -2px 0 #ffe81f; }

.title {
  font-size: 60px;
  margin: 20px 0;
  opacity: 0;
  z-index: -1; }

form {
  opacity: 0;
  z-index: -1; }
  form #dark-side,
  form #light-side {
    display: none; }

.sides,
.register {
  -ms-flex-direction: row;
      flex-direction: row; }

.sides {
  -ms-flex-pack: center;
      justify-content: center;
  margin: 70px 0; }
  .sides label {
    display: block;
    width: 100%;
    max-width: 350px;
    background-color: red;
    border-radius: 50%;
    padding: 12px;
    margin: 0 55px;
    cursor: pointer;
    transition: .3s; }
    .sides label.light {
      background-color: #fff; }
      .sides label.light:hover {
        transition: .3s;
        box-shadow: 0 0 45px 3px #fff; }
    .sides label.dark {
      background-color: #ff0000; }
      .sides label.dark:hover {
        transition: .3s;
        box-shadow: 0 0 45px 3px #ff0000; }
    .sides label img {
      width: 100%; }
  .sides input[type=radio]:checked + label.dark {
    box-shadow: 0 0 45px 3px #ff0000; }
  .sides input[type=radio]:checked + label.light {
    box-shadow: 0 0 45px 3px #fff; }

.register {
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: end;
      align-items: flex-end; }
  .register > div {
    width: 30%; }

.social-networks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%; }

.social .network {
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin: 0 12px; }
  .social .network:hover {
    opacity: .8; }
  .social .network.fb {
    background-image: url("../images/facebook.png"); }
  .social .network.twt {
    background-image: url("../images/twitter.png"); }
  .social .network.inst {
    background-image: url("../images/instagram.png"); }

.input {
  width: 100%; }
  .input .input-field input {
    height: 50px;
    width: 100%;
    background-color: #000;
    border: 2px solid #ffe81f;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 0 15px;
    outline: #ffe81f; }

.action-btn {
  width: 100%; }
  .action-btn button {
    height: 50px;
    width: 100%;
    background-color: #ffe81f;
    border-radius: 10px;
    font-size: 30px;
    padding: 0 15px;
    font-family: inherit;
    cursor: pointer;
    border: 1px solid #dac61a;
    transition: .2s; }
    .action-btn button:hover {
      box-shadow: 0 0 15px 1px #ffe81f;
      transition: .2s; }

.mb {
  margin-bottom: 15px; }

.show {
  opacity: 1;
  transition: .7s;
  z-index: 1; }

.sw {
  animation: sw 10s linear; }

.scale {
  animation: sw-scale .5s ease-in; }

@keyframes sw {
  0% {
    opacity: 0;
    transform: perspective(400px) translateZ(450px) translateY(100%); }
  15% {
    opacity: 1; }
  100% {
    transform: perspective(400px) translateZ(0) translate(0, 0); } }

@keyframes sw-scale {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@media screen and (max-width: 768px) {
  .logo {
    font-size: 15vw;
    margin: 20px 0; }
  .title {
    font-size: 9vw;
    margin: 0; }
  .sides {
    margin: 50px 0; }
    .sides label {
      max-width: 280px;
      margin: 0 15px; }
  .register {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }
    .register > div {
      width: 80%;
      margin: 10px 0; }
    .register .social {
      -ms-flex-order: 3;
          order: 3; } }

@media screen and (max-width: 999px) {
  .register > div {
    max-width: 450px; } }
